:root{
  --primary: #323232;
  --secondary: #76BED0;
  --bodyfont: clamp(14px, 2.45vmin, 32px);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: var(--primary);

}

html{scroll-behavior: smooth;}

body{
  font-family: 'Sen', sans-serif;
  font-size: var(--bodyfont);
  line-height: 160%;

}

header, main{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: .75em;

}

main{gap: 3em;}

.tagline{line-height: 115%;}

.wrapper{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;

}

section button{
  width: fit-content;
  padding: .75em 1.5em;
  border-radius: 10px;
  box-shadow: 0 0 1px 1px rgba(1, 1, 3, .5);
  background-color: transparent;
  font-family: 'Sen', sans-serif;
  font-weight: 700;
  transition: .15s;

}

.alternate-button{
  color: #fff;
  box-shadow: 0 0 1px 1px #fff;

}

button:hover{
  background-color: var(--secondary);
  box-shadow: none;
  color: #fff;

}

.alternate-button:hover{color: #010101;}

.card{
  display: flex;
  flex-direction: column;
  gap: .5em;
  padding: .5em 0;

}
